@use '../theme.scss';
/* ---------- Weather Cards (MOBILE FIRST) ---------- */

.weather-container {
  display: flex;
  flex-direction: column;
  gap: theme.$gutter;
  padding: 0 theme.$gutter;
  margin-bottom: 2rem;
}

.weather-card {
  width: 100%;
  min-height: 350px;
  text-align: center;
  border-radius: theme.$weather-card-brds;
  background: map-get(theme.$secondary-color, 100);
  padding: theme.$gutter;
  border: 2px solid map-get(theme.$primary-color, 100);
  color: #fff;
  font-size: 1.1rem;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  .weather-card-inner {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  p {
    font-size: 48px;
  }

  .btn {
    border-color: map-get(theme.$primary-color, 100);
    background: map-get(theme.$primary-color, 100);
  }

  &.clear {
    background-image: url('/images/clear.jpg');
  }

  &.cloudy {
    background-image: url('/images/cloudy.jpg');
  }

  &.fog {
    background-image: url('/images/fog.jpg');
  }

  &.drizzle {
    background-image: url('/images/drizzle.jpg');
  }

  &.rain {
    background-image: url('/images/rain.jpg');
  }

  &.snow {
    background-image: url('/images/snow.jpg');
  }

  &.storm {
    background-image: url('/images/storm.jpg');
  }
}

.dark-mode {
  .weather-card {
    .btn {
      color: #f4f4f4;
    }
  }
}
