@use '../theme.scss';
/* ---------- Weather Cards (MOBILE FIRST) ---------- */

.weather-container {
  display: flex;
  flex-direction: column;
  gap: theme.$gutter;
  padding: 0 theme.$gutter;
  margin-bottom: 2rem;
}

.weather-card {
  width: 100%;
  min-height: 250px;
  text-align: center;
  border-radius: theme.$weather-card-brds;
  background: map-get(theme.$secondary-color, 100);
  padding: theme.$gutter;
  border: 3px solid map-get(theme.$primary-color, 100);
  color: #fff;
  font-size: 1.1rem;

  p {
    font-size: 48px;
  }
}
