/* ---------- Utility ---------- */

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.ml-auto {
  margin-left: auto;
}

.form-group input {
  width: 100%;
}
